@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  .logo {
    padding: 10px 0;
  }
  
  .search {
    display: flex;
    justify-content: space-between;

    input {
      margin-right: 13px;
      border: 1px solid #e3e3e3;
      border-radius: 5px;
      padding: 5px 5px 5px 10px;
    }
    
  }
}

.items {
  display: grid;
  padding: 20px;
  grid-row-gap: 50px;

  .recipecard {

    img {
      width: 100%;
    }

    .infos {

      .label {
        padding: 10px;
        font-size: 15px;
      }

      .healthLabels {
        padding: 5px 10px;
        overflow-x: scroll;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        grid-column-gap: 5px;

        .hlabel {
          color: white;
          font-size: 10px;
          padding: 5px;
          border-radius: 10px;
          background-color: pink;
          margin-bottom: 5px;
        }
      }
    }
  }
}
